<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.playlistmaker">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:name="com.example.playlistmaker.common.presentation.App"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlaylistMaker"
        tools:targetApi="31">
        <activity
            android:name=".media.ui.activity.MediaActivity"
            android:exported="false"
            android:theme="@style/Theme.PlaylistMaker"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".search.ui.activity.SearchActivity"
            android:exported="false"
            android:theme="@style/Theme.PlaylistMaker"/>
        <activity
            android:name=".player.ui.activity.PlayerActivity"
            android:label="PlayerActivity"
            android:parentActivityName=".search.ui.activity.SearchActivity"
            android:exported="false"
            android:theme="@style/Theme.PlaylistMaker"/>
        <activity
            android:name="com.example.playlistmaker.settings.ui.activity.SettingsActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:theme="@style/Theme.PlaylistMaker"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".main.ui.activity.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PlaylistMakerMainScreen">

        </activity>
        <activity
            android:name=".root.ui.RootActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>